.App {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

.App-header {
  background-color: #222;
  /* padding: 20px; */
  color: #fff;
}

.App-title {
  font-size: 1.5rem;
  margin-left: 2rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
