.mapWrapper {
  height: 200px;
  width: 100%;
  background: #eee;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.tipText {
  background: rgba(0, 0, 0, .7);
  width: 10rem;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  border: .13rem solid #fff;
}